section {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  margin: 1em;
  color: steelblue;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}


