.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  position: absolute;
  left:0;
  bottom:0;
  right:0;

  height: 3em;
  background: radial-gradient(black, white);
  h1 {
    color: white;
  }
}
